@charset "ISO-8859-1";
body {
    background-image: url('https://wallpaperaccess.com/full/875477.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.card{
    background-color: rgb(88 109 59 / 31%);
    height: auto;
    border: 1px solid #6a5b5b;
    margin-top: 175px;
    margin-left: 60px;
    color: floralwhite;
    box-shadow: 0 0 10px 0 #fff;
}
.form-control{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    width: 90%;
    height: 30px;
}
.form-label{
    margin-left: 10px;
    margin-bottom: 0px;
}
.form-text{
    color: wheat;
    margin-left: 10px;
    margin-bottom: 5px;
}
.btn-primary{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 90%;
}
img{
	width: 75px;
    height: 75px;
    margin-top: -13%;
    margin-left: 40%;
}
.error {
    color: red;
    font-size: smaller;
    position: relative;
    left: 10px;
    margin-top: 0px;
}